@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  background-color: #1c110b;
  background-image: url(./files/background-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Poiret One', cursive;
  color: 	#ccb596;
  letter-spacing: 1rem;
}